
<div class="mt-4 mb-4 flex items-center justify-between">
  <p class="mb-6 text-2xl font-semibold text-gray-950">Pagamentos</p>

  <paytech-button  text="Adicionar pagamento"></paytech-button>
</div>

<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >

    <ng-container matColumnDef="avatar">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
      </th>
      <td mat-cell *matCellDef="let payment">
        <img mat-card-image [src]="payment.image" alt="avatar photo" class="avatar pt-2">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Nome
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.name }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by username"
      >
        Usuário
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.username }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by title"
      >
        Cargo
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.title }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by symbol"
      >
        Valor
      </th>
      <td mat-cell *matCellDef="let payment">
        {{ payment.value | currency : "BRL" : "symbol" : "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by date"
      >
        Data
      </th>
      <td mat-cell *matCellDef="let payment">
        {{ payment.date | date : "dd/MM/yyyy" }}
        |
        {{ payment.date | date : "HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by status"
      >
        Status do Pagamento
      </th>
      <td mat-cell *matCellDef="let payment">
        <mat-icon
          [ngClass]="{
            'text-green-500': payment.isPayed,
            'text-red-500': !payment.isPayed
          }"
        >
          {{ payment.isPayed ? "check" : "cancel" }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>

      <td mat-cell *matCellDef="let payment">
        <button
          mat-icon-button
          matTooltip="Clique para editar"
          class="iconbutton"
        >
          <mat-icon class="text-gray-400">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Deletar</th>

      <td mat-cell *matCellDef="let payment">
        <button
          mat-icon-button
          matTooltip="Clique para deletar"
          class="iconbutton"
          (click)="onDelete(payment.id)"
        >
          <mat-icon class="text-gray-700">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic payments"
  >
  </mat-paginator>
</div>
