<div class="min-h-screen bg-white flex">
  <div class="hidden lg:block relative w-0 flex-1 bg-gray-900">
    <div class="flex h-full justify-center items-center">
      <img
        src="/assets/images/undraw_credit_card_payments_re_qboh.svg"
        alt="woman with credit card"
      />
    </div>
  </div>

  <div
    class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
