<div
  class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400"
>
  <div class="w-full flex justify-start text-gray-600 mb-3">
    <mat-icon class="text-2xl">payment</mat-icon>
  </div>
  <h1
    class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4"
  >
    Adicionar Pagamento
  </h1>

  <form
    [formGroup]="form"
    #formTemplate="ngForm"
    class="grid grid-cols-12 gap-x-4 gap-y-5 mt-5 mb-5"
  >
    <div class="col-span-12">
      <label
        for="name"
        class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
      >
        Nome
      </label>
      <input
        id="name"
        formControlName="name"
        class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-green-400 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="Digite o nome"
      />
    </div>

    <div class="col-span-6">
      <label
        for="username"
        class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
      >
        Usuário
      </label>
      <input
        id="username"
        formControlName="username"
        class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-green-400 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="Digite o usuário"
      />
    </div>

    <div class="col-span-6">
      <label
        for="title"
        class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
      >
        Cargo
      </label>
      <input
        id="title"
        formControlName="title"
        class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-green-400 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="Ex: Front-end"
      />
    </div>

    <div class="col-span-6">
      <label
        for="value"
        class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
      >
        Valor
      </label>
      <input
        id="value"
        prefix="R$ "
        mask="separator.2"
        [thousandSeparator]="'.'"
        [decimalMarker]="','"
        formControlName="date"
        [dropSpecialCharacters]="true"
        formControlName="value"
        class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-green-400 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="R$ 999,99"
      />
    </div>

    <div class="col-span-6">
      <label
        for="date"
        class="text-gray-800 text-sm font-bold leading-tight tracking-normal"
      >
        Data
      </label>

      <input
        id="date"
        formControlName="date"
        mask="d0/M0/0000"
        decimalMarker=","
        [dropSpecialCharacters]="false"
        class="mt-2 text-gray-600 focus:outline-none focus:border focus:border-green-400 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
        placeholder="dd/mm/aaaa"
      />
    </div>

    <div class="col-span-6 flex">
      <label class="relative inline-flex items-center mr-5 cursor-pointer mt-6">
        <input type="checkbox" formControlName="isPayed" class="sr-only peer" checked>
        <div class="w-11 h-6 bg-gray-200 rounded-full peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white  after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-400"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Pago</span>
      </label>
    </div>


  </form>

  <div class="flex items-center justify-end w-full">
    <paytech-button
      text="Salvar"
      type="submit"
      (buttonClick)="onSubmit(formTemplate)"
      [isDisabled]="!form.valid"
    ></paytech-button>
  </div>

  <button
    class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
    (click)="onClose()"
    aria-label="close modal"
    role="button"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
